---
import "~/styles/global.css";
import { SEO, type Props as SEOProps } from "astro-seo";
import { site } from "~/constants/config";
interface Props extends SEOProps {
  /**
   * Applied to html body
   */
  class?: astroHTML.JSX.HTMLAttributes["class"];
  /**
   * Applied to html body
   */
  "class:list"?: astroHTML.JSX.HTMLAttributes["class:list"];
  /**
   * Language of the document
   */
  lang?: string;
}

const {
  title,
  description,
  class: className,
  "class:list": classList,
  lang = "en",
  ...props
} = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site || site.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      titleDefault={site.meta.title}
      titleTemplate={`%s | ${site.meta.title}`}
      description={description || site.meta.description}
      canonical={canonicalUrl}
      {...props}
    />
    <slot name="head" />
  </head>
  <body class:list={[classList, className]}>
    <slot />
  </body>
</html>
